/* Navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  height: 60px;
  }
  
  .text-nav {
  font-size: 1.2rem;
  font-weight: bold;
  }
  
  nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  nav ul li {
  margin-right: 20px;
  }
  
  nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
  }
  
  nav ul li a:hover {
  color: #BB86FC;
  }
  
  /* General layout */
  main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  }
  
  h2 {
  margin-top: 50px;
  }
  
  p {
  font-size: 1.1rem;
  line-height: 1.5;
  }
  
  /* Contact info section */
  .info-container {
  display: inline;
  align-items: center;
  margin-top: 20px;
  }
  
  .social-media img{
  width: 40px;
  height: 40px;
  }
  
  #location, #cel, #email {
  margin-right: 10px;
  }
  
  #location::before, #cel::before, #email::before {
  content: "\2022";
  margin-right: 5px;
  color: #BB86FC;
  }
  
  #email::before {
  content: "\2709";
  }
  
  /* Education section */
  .university {
  margin-bottom: 20px;
  }
  
  .expected-year{
  position: relative;
  top: -45px;
  left: 600px;
  }
  
  .bachelor{
  position: relative;
  top: -50px;
  }

  .lang{
    margin-top: 0px;
  }
  
  /* Projects section */
  .projects-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  .projects-container li {
  margin: 0 10px;
  }
  
  .projects-container img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  }
  
  li img {
  width: 30px;
  margin-right: 10px;
  }
  
  li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
  
  }
  
  li a:hover {
  color: #BB86FC;
  }
  
  /* Footer */
  footer {
  background-color: #333;
  color: white;
  text-align: center;
}