@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body{
    background: #2E9CE6;
    padding: 3em;
    font-family: "Raleway", "Arial";
    color: #ffff;
    text-align: center;
}
